.header-logo {
    width: 4rem; 
    margin-right: 1rem;
}
.dark-background{
    background-color: #101922;
}
.dark-background-2{
    background-color: #0d1117;
}
.profile-image{
    width: 3rem;
}
.white-font{
    color: #fff;
}
.margin-top-1rem{
    margin-top: 1rem;
}
.big-font{
    font-size: 1.5rem;
}
.medium-font{
    font-size: 1.2rem;
}