.header-logo {
    width: 4rem; 
    margin-right: 1rem;
}
.dark-background{
    background-color: #101922;
}
.dark-background-2{
    background-color: #0d1117;
}
.profile-image{
    width: 3rem;
}
.white-font{
    color: #fff;
}
.margin-top-1rem{
    margin-top: 1rem;
}
.big-font{
    font-size: 1.5rem;
}
.medium-font{
    font-size: 1.2rem;
}
.small-font{
    font-size:.7rem;
}
.green-font{
    color: #198754;
}
.hidden{
    display: none;
}
.td-expandible{
    cursor: pointer;
    border: 1px solid #198754;
    position: relative;
}
.td-expandible::after{
    color: #0d6efd;
    content: "Mostrar más contenido";
    width: max-content;
    position: relative;
    top: 1rem;
}
.min-height-100-vh{
    min-height: 100vh;
}
.input-cell{
    background: transparent;
    border: inherit;
    color: inherit;
}

.nav-link.white-font.active-gestion-users {
    background-color: #0d6efd; /* Color primary */
    color: white !important;
}
.nav-link.white-font.active-gestion {
background-color: #0d6efd; /* Color primary */
color: white !important;
}
.card-header-warning {
    background-color: #ffc107; /* Color warning de Bootstrap (Amarillo) */
    color: #212529; /* Texto oscuro */
    font-weight: bold;
}
.nav-link.white-font.active-settings {
    background-color: #0d6efd; /* Color primary */
    color: white !important;
}